.news-card {
    height: 500px;
    width: 400px;
    overflow: hidden;
    position:relative;
}

/* .news-card-img-container {
    height: 15rem;
    width: 30rem;
} */

.news-card-img {
    height:auto;
    width: 15rem;
    object-fit: cover;

}
