.review-card {
    height: 380px;
    min-width: 350px;
    max-width:450px;
    background-color: var(--green-second-light-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0rem 0.2rem 0.4rem rgba(168, 179, 235, 0.8);
}

.five-stars {
    height: 1rem;
    width: auto;
}

.review-person-img {
    height: 5rem;
    width: auto;
}