
.second-comp-container {
    max-width: 800px;
    font-weight: 300;
    font-size: 20px;
    background-color: var( --green-third-light-color);
    color: var(--light-bg-color);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0rem 0.1rem 0.2rem rgba(168, 179, 235, 1);

}

.second-comp-father {
    background-color: aliceblue;
}

/* third component */

.credit-img {
    height: 20rem;
    width: auto;
}

.third-comp-container {
    background-color:white;
    box-shadow: 0.5rem 0.4rem 0.7rem rgba(226, 231, 255, 0.8);
}

.third-component-text {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

/* Fourth component */

.contact-img {
    height: 18rem;
    width: auto;
}

.contact-img-container {
    height: 50vh;
    width: auto;
    background-image: url(/homepage-imgs/contactanos-people.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 0px -130px;
}

.contact-img-opacity {
    height: inherit;
    width: inherit;
    background: rgb(8,8,20);
    background: linear-gradient(16deg, rgba(12, 12, 40, 0.5) 0%, rgba(35,35,79,0.4) 35%, rgba(178,232,244,0.4) 100%);
}

.contact-section-title {
    color: var(--light-bg-color) !important;
    font-weight: 600 !important;
    padding: 2rem;
    text-shadow: 0.15rem 0.2rem 0.5rem rgb(56, 62, 121);
}

@media (max-width: 900px) {
    .contact-img-container  {
        background-position: 0px -50px;
    } 
    
}

@media (max-width: 750px) {
    .contact-img-container  {
        background-position: 0px 0px;
    } 
    
}

@media (max-width: 450px) {
    .second-comp-container {
        text-align: center ;
        padding: 1rem;
    }

    .third-comp-container {
        padding: 1.5rem;
    }

    .fourth-comp-text {
        padding: 2rem;
    }

    .contact-img-container {
    height: 50vh;
    width: auto;
    background-image: url(/homepage-imgs/contactanos-people.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

}