.comofunciona-text-container {
    height: 70vh;
    width: auto;
    background-image: url(/homepage-imgs/apartamentaje.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 0px -45px;
}

.como-funciona-text-opacity{
    height: inherit;
    width: inherit;
    background: rgb(8,8,20);
    background: linear-gradient(16deg, rgba(12, 12, 40, 0.5) 0%, rgba(35,35,79,0.5) 35%, rgba(178,232,244,0.3) 100%);
}

.heroimg-service-container {
    height: 70vh;
    width: auto;
    background-image: url(/homepage-imgs/comofunciona.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 0px -45px;
}

.heroimg-service-opacity {
    height: inherit;
    width: inherit;
    background: rgb(8,8,20);
    background: linear-gradient(16deg, rgba(12, 12, 40, 0.4) 0%, rgba(35,35,79,0.3) 35%, rgba(178,232,244,0.3) 100%);
}

.pasos-container {
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    background-color: var(--green-first-light-color);
}

.benefits-container {
    max-width: 600px !important;
}

.person-icon {
    height: 3.2rem;
}

.segmentos-container {
    max-width: 600px;
}

/* Simulaodr */

.simulador-container {
    background-color: var( --grey-font-dark);
    border: 3px solid white;
    border-radius: 15px;
    padding: 2rem;
    width: 400px;
    box-shadow: 0rem 0.2rem 0.4rem rgba(121, 127, 158, 0.8);
    will-change: filter;
    transition: filter 300ms;
}

.simulador-container:hover {
    filter: drop-shadow(0 0 1em #4c4996aa);
}

.simulador-input {
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
}



@media (max-width: 800px) {
    .heroimg-service-container {
        height: 40vh;
        background-position: 0px -20px;
    } 
    
}

@media (max-width: 450px) {
    .heroimg-service-container {
        background-position: 0px 0px;
    } 
    
}
