.about-empresa-container {
    height: 50vh;
    width: auto;
    background-image: url(/aboutus-imgs/casa-empresa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.la-empresa-opaciity-layer {
    height: inherit;
    width: 100vw;
    background: rgb(8,8,20);
    background: linear-gradient(16deg, rgba(12, 12, 40, 0.7) 0%, rgba(35,35,79,0.6) 35%, rgba(178,232,244,0.4) 100%);
}

.empresa-info {
    max-width: 700px;
    padding: 2rem;
}

.fundadores-container {
    height: 50vh;
}

.fundadores-img {
    height: inherit;
    width: inherit;
    background-image: url(/aboutus-imgs/ale-benja-png.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

}

.valor-card {
    padding: 1rem;
    max-width: 350px;
    height: auto;
    /* height: 200px; */
}

/* MODAL WINDOWS */
/* .modal {
    width: 370px !important;
} */

.modal-content {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--green-third-light-color) !important;
    color: white !important;
    border-radius: 5px !important;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.btn-close {
    --bs-btn-close-color: white !important;
}


.team-img {
    height: 40vh;
    width: auto;
    border: 2px solid white;
    border-radius: 8px;
}

.rockstars-container {
    height: 300px;
    background-image: url(/aboutus-imgs/rockstars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 0px -350px; */
}

.rockstars-opacity-layer {
    height: inherit;
    width: inherit;
    background: rgb(8,8,20);
    background: linear-gradient(16deg, rgba(12, 12, 40, 0.4) 0%, rgba(35,35,79,0.3) 35%, rgba(178,232,244,0.3) 100%);
}

.mision-grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(3, minmax(400px, 1fr));

}

.mision-vision-container {
    padding: 0 !important;
}
.row-mision-container {
    margin: 0 !important;
}

.col-mision-container {
    padding: 0 !important;
}

.mision-container {
    min-width: 400px;
    height: 400px;
    background-image: url(/aboutus-imgs/misionimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mision-opacity {
    height: inherit;
    width: inherit;
    background: rgb(8,8,20);
    background: linear-gradient(16deg, rgba(12, 12, 40, 0.5) 0%, rgba(35,35,79,0.6) 35%, rgba(178,232,244,0.6) 100%);
}

.values-container {
    min-width: 400px;
    height: 400px;
    background-image: url(/aboutus-imgs/valoresimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.vision-container {
    min-width: 400px;
    height: 400px;
    background-image: url(/aboutus-imgs/visionwideimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 700px) {
    .rockstars-container {
        background-position: 0px -100px;
    }
}

@media (min-width: 900px) {
    .rockstars-container {
        background-position: 0px -200px;
    }
}

@media (min-width: 1200px) {
    .rockstars-container {
        background-position: 0px -300px;
    }
}

@media (max-width: 1200px) {
    .mision-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    
    }
}

@media (max-width: 600px) {
    .team-img {
        width: 350px;
        height:auto;
    } 
    
}

@media (min-width: 550px) {
    .team-img {
        width: 350px;
        height:auto;
    } 
    
}

/* height: 75vh;
width: auto;
background-image: url(/homepage-imgs/heroimg-clean.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat; */